In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
url = "https://raw.githubusercontent.com/kevogil/charity-funding-predictor/main/Resources/charity_data.csv"
application_df = pd.read_csv(url)
application_df

             EIN  ... IS_SUCCESSFUL
0       10520599  ...             1
1       10531628  ...             1
2       10547893  ...             0
3       10553066  ...             1
4       10556103  ...             1
...          ...  ...           ...
34294  996009318  ...             0
34295  996010315  ...             0
34296  996012607  ...             0
34297  996015768  ...             1
34298  996086871  ...             0

[34299 rows x 12 columns]

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN', 'NAME'], inplace=True)

In [ ]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_cnt = application_df['APPLICATION_TYPE'].value_counts()
app_cnt

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_point = 500
application_types_to_replace = app_cnt[app_cnt < cutoff_point].index.tolist()


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
class_cnt = application_df['CLASSIFICATION'].value_counts()
class_cnt

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C1732        1
C3700        1
C1580        1
C2561        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_cnt.head(50)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C4100        6
C2400        6
C1600        5
C1257        5
C2710        3
C0           3
C1260        3
C1256        2
C3200        2
C1267        2
C1246        2
C1234        2
C8210        1
C2380        1
C2150        1
C1370        1
C1820        1
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_point = 1000
classifications_to_replace = class_cnt[class_cnt < cutoff_point].index.tolist()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
numeric_application_df = pd.get_dummies(application_df)
numeric_application_df

       STATUS   ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0           1      5000  ...                         1                         0
1           1    108590  ...                         1                         0
2           1      5000  ...                         1                         0
3           1      6692  ...                         1                         0
4           1    142590  ...                         1                         0
...       ...       ...  ...                       ...                       ...
34294       1      5000  ...                         1                         0
34295       1      5000  ...                         1                         0
34296       1      5000  ...                         1                         0
34297       1      5000  ...                         1                         0
34298       1  36500179  ...                         1                         0

[34299 rows x 44 columns]

In [ ]:
# Split our preprocessed data into our features and target arrays
y = numeric_application_df['IS_SUCCESSFUL']
x = numeric_application_df.drop(columns=['IS_SUCCESSFUL'])

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state=42)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

In [ ]:
### Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(x_train_scaled[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 352

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 1)                 6

=================================================================
Total params: 403
Trainable params: 403
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Train the model
fit_model = nn.fit(x_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6219 - accuracy: 0.6751
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5682 - accuracy: 0.7253
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5594 - accuracy: 0.7260
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5569 - accuracy: 0.7255
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5552 - accuracy: 0.7266
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5542 - accuracy: 0.7276
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5532 - accuracy: 0.7279
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5527 - accuracy: 0.7281
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5523 - accuracy: 0.7281
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5517 - accuracy: 0.7288
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5513 - accuracy: 0.7285
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7302
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5507 - accuracy: 0.7296
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5504 - accuracy: 0.7303
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5499 - accuracy: 0.7296
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7292
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5502 - accuracy: 0.7306
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7299
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5492 - accuracy: 0.7304
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5496 - accuracy: 0.7286
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5493 - accuracy: 0.7304
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5492 - accuracy: 0.7306
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7308
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7307
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5490 - accuracy: 0.7295
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7307
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7313
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5484 - accuracy: 0.7303
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5485 - accuracy: 0.7301
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7302
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7299
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5480 - accuracy: 0.7297
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5479 - accuracy: 0.7295
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7304
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5476 - accuracy: 0.7304
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7306
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5472 - accuracy: 0.7300
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7313
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7310
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7312
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7307
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7318
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7311
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7325
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5465 - accuracy: 0.7314
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7326
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5460 - accuracy: 0.7321
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7322
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7321
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7327
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7325
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7331
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7330
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7330
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7322
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7333
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7332
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5453 - accuracy: 0.7319
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7325
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7327
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7331
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7324
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7326
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7322
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7341
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7324
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5450 - accuracy: 0.7338
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7324
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7334
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - accuracy: 0.7334
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7333
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7337
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7332
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7324
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7337
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7345
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7340
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7338
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7330
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7331
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7338
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7333
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7338
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7334
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7334
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7337
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7338
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7332
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7340
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5441 - accuracy: 0.7324
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7343
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7327
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7341
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7339
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7341
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - accuracy: 0.7341
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7334
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - accuracy: 0.7342

In [ ]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(x_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5557 - accuracy: 0.7279 - 472ms/epoch - 2ms/step
Loss: 0.5556977987289429, Accuracy: 0.7279300093650818

In [ ]:
# Save and export your results to an HDF5 file
from google.colab import files

nn.save('AlphabetSoupCharity.h5')
files.download('AlphabetSoupCharity.h5')